<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">

      {{!-- Sheet Header --}}
      <header class="sheet-header">
          <div class="sheet-header__fields">
              <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
              <input class="input--title charplaybook" name="data.details.playbook" type="text" value="{{data.details.playbook}}" placeholder="Playbook" list="playbooks"/>
              <datalist id="playbooks">
                {{#each data.playbooks as |playbook id|}}
                <option value="{{playbook}}" />
                {{/each}}
              </datalist>
              {{!-- <div class="flex-item flex-item--level">
                <label for="data.atributes.level.value">{{ localize "PBTA.Level" }}</label>
                <input name="data.attributes.level.value" type="text" value="{{data.attributes.level.value}}" placeholder="Level" data-dtype="Number"/>
              </div>
              <div class="flex-item flex-item--xp">
                <label for="data.attributes.xp.value">{{ localize "PBTA.XP" }}</label>
                <input name="data.attributes.xp.value" type="text" value="{{data.attributes.xp.value}}" placeholder="XP" data-dtype="Number"/>
                {{{progressCircle data.xpSvg}}}
              </div>
              <div class="flex-item flex-item--level-up">
                <a class="{{#if data.levelup}}clickable-level-up{{else}}disabled-level-up{{/if}}"><i class="fas fa-user-plus"></i></a>
              </div> --}}
          </div>
      </header>

      {{!-- <section class="sheet-notifications">
        {{#if data.isToken}}
        <div class="cell__title error">Warning! This character sheet is <strong>not linked to an actor</strong> and cannot use the character builder!</div>
        {{/if}}
      </section> --}}

      <section class="sheet-top">
        {{!-- Attributes --}}
        <section class="sheet-attributes">

          <div class="cell cell--image">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
          </div>

          <div class="cell cell--stats">
            <ol class="stats-list">
            {{#each data.stats as |stat key|}}
              <li class="stat flexrow" data-stat="{{key}}">
                <span class="stat-icon stat-rollable rollable" data-mod="{{stat.value}}" data-label="{{stat.label}}"><i class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i></span>
                <label for="data.stats.{{key}}.value" class="cell__title stat-rollable rollable" data-mod="{{stat.value}}" data-label="{{stat.label}}">{{ stat.label }}</label>
                <input class="stat-value" type="text" name="data.stats.{{key}}.value" value="{{#if stat.value}}{{numberFormat stat.value decimals=0 sign=true}}{{else}}0{{/if}}" data-dtype="Number"/>
                {{#if ../data.statToggle}}
                  <label class="stat-toggle checkbox"><input type="checkbox" name="data.stats.{{key}}.toggle" {{checked stat.toggle}}/>{{../data.statToggle.label}}</label>
                {{/if}}
              </li>
            {{/each}}
            </ol>
          </div>

        </section>

        <section class="sheet-attributes-top">
          {{> "systems/pbta/templates/parts/sheet-attributes.html" attrs=data.attrTop group="attrTop" class="attributes-top" owner=owner editable=editable}}
        </section>
      </section>

      <section class="sheet-bottom">
        {{!-- Sidebar --}}
        <section class="sheet-look">
          <div class="cell cell--aesthetics">
            {{> "systems/pbta/templates/parts/sheet-attributes.html" attrs=data.attrLeft group="attrLeft" class="attributes-left" owner=owner editable=editable}}
          </div>

          {{!-- TODO: Re-enable the look toggle later --}}
          {{!-- <button class="toggle toggle--look"><i class="fas fa-chevron-left"></i></button> --}}
        </section>

        {{!-- Main --}}
        <section class="sheet-main">

          {{!-- Sheet Tab Navigation --}}
          <nav class="sheet-tabs tabs" data-group="primary">
              <a class="item" data-tab="description">{{localize "PBTA.Description"}}</a>
              <a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
              <a class="item" data-tab="equipment">{{localize "PBTA.Equipment"}}</a>
          </nav>

          {{!-- Sheet Body --}}
          <section class="sheet-body">

              {{!-- Main Tab --}}
              <div class="tab description" data-group="primary" data-tab="description">
                <div class="sheet-tab">
                  <div class="cell cell--bio">
                    <label class="cell__title">{{localize "PBTA.Biography"}}</label>
                    {{!-- We're avoiding WYSIWYGs... for now... --}}
                    {{editor content=data.details.biography target="data.details.biography" button=true owner=owner editable=editable}}
                  </div>
                </div>
              </div>

              {{!-- Moves Tab --}}
              <div class="tab moves active" data-group="primary" data-tab="moves">
                <section class="sheet-tab">

                  <section class="sheet-notifications">
                    {{#if data.isToken}}
                    <div class="cell__title warning small-text">Moves cannot be rearranged while this token is not linked to an actor.</div>
                    {{/if}}
                  </section>

                  <section class="sheet-resources">
                    <div class="cell cell--roll-formula">
                      <label class="cell__title">{{localize "PBTA.RollFormulaOverride"}}</label>
                      <div class="cell__wrapper">
                        <input type="text" name="data.resources.rollFormula.value" value="{{data.resources.rollFormula.value}}" placeholder="ex: 3d6kh2"/>
                      </div>
                    </div>

                    <div class="cell cell--forward">
                      <label class="cell__title">{{localize "PBTA.Forward"}}</label>
                      <div class="cell__wrapper">
                        <button class="resource-control resource-decrease" data-action="decrease" data-attr="resources.forward.value">-</button>
                        <input type="number" name="data.resources.forward.value" value="{{numberFormat data.resources.forward.value decimals=0 sign=false}}" data-dtype="Number"/>
                        <button class="resource-control resource-increase" data-action="increase" data-attr="resources.forward.value">+</button>
                      </div>
                    </div>

                    <div class="cell cell--ongoing">
                      <label class="cell__title">{{localize "PBTA.Ongoing"}}</label>
                      <div class="cell__wrapper">
                        <button class="resource-control resource-decrease" data-action="decrease" data-attr="resources.ongoing.value">-</button>
                        <input type="number" name="data.resources.ongoing.value" value="{{numberFormat data.resources.ongoing.value decimals=0 sign=false}}" data-dtype="Number"/>
                        <button class="resource-control resource-increase" data-action="increase" data-attr="resources.ongoing.value">+</button>
                      </div>
                    </div>

                    <div class="cell cell--roll-mode flexrow">
                      <label class="cell__title">{{localize "Roll Mode"}}</label>
                      {{radioBoxes 'flags.pbta.rollMode' rollModes checked=flags.pbta.rollMode localize=true}}
                    </div>
                  </section>

                  {{#each moves as |moveGroup moveKey|}}
                    <div class="cell cell--moves cell--group cell--{{moveKey}}">
                      <h2 class="cell__title">
                        <label class="item-group-label">{{#if (eq moveKey "PBTA_OTHER")}}{{localize moveKey}}{{else}}{{getLabel ../moveTypes moveKey}}{{/if}}<span class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                        <div class="item-controls">
                          <button type="button" class="item-control item-create" title='{{localize "PBTA.MoveCreate"}}' data-type="move" data-moveType="{{moveKey}}">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                      </h2>
                      <ol class="items-list">
                      {{#each moveGroup as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                          {{> "systems/pbta/templates/parts/sheet-moves.html" item=item statSettings=../../data.statSettings}}
                        </li>
                      {{/each}}
                      </ol>
                    </div>
                  {{/each}}

                </section>
              </div>

              {{!-- Owned Equipment Tab --}}
              <div class="tab equipment" data-group="primary" data-tab="equipment">
                {{!-- <div class="cell cell--equipment cell--group"> --}}
                  <section class="sheet-notifications" style="margin-top:10px;">
                    {{#if data.isToken}}
                    <div class="cell__title warning small-text">Equipment cannot be rearranged while this token is not linked to an actor.</div>
                    {{/if}}
                  </section>

                  {{!-- <h2 class="cell__title">
                    <label>{{localize "PBTA.Equipment"}}</label>
                    <div class="item-controls">
                      <button class="item-control item-create" title='{{localize "PBTA.Equipment"}}' data-type="equipment">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2> --}}
                  {{#each equipment as |equipmentGroup equipmentKey|}}
                    <div class="cell cell--equipment cell--group cell--{{equipmentKey}}">
                      <h2 class="cell__title">
                        <label class="item-group-label">{{#if (eq equipmentKey "PBTA_OTHER")}}{{localize equipmentKey}}{{else}}{{getLabel ../equipmentTypes equipmentKey}}{{/if}}<span class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                        <div class="item-controls">
                          <button type="button" class="item-control item-create" title='{{localize "PBTA.EquipmentCreate"}}' data-type="equipment" data-equipmentType="{{equipmentKey}}">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                      </h2>
                      <ol class="items-list">
                        {{#each equipmentGroup as |item id|}}
                          <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                              <h4 class="item-name">
                                <div class="item-avatar">
                                  <span class="rollable item-rollable" data-roll=""><i class="fas fa-book"></i></span>
                                  <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27"/>
                                </div>
                                <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span>
                              </h4>

                              <div class="item-meta tags">
                                {{#if item.data.uses }}<span class="tag">{{localize "PBTA.Uses"}}: {{item.data.uses}}</span>{{/if}}
                                {{#if item.data.quantity }}<span class="tag">{{localize "PBTA.Qty"}}: {{item.data.quantity}}</span>{{/if}}
                                {{#if item.data.weight }}<span class="tag">{{localize "PBTA.Wt"}}: {{item.data.weight}}</span>{{/if}}
                              </div>
                              <div class="item-controls">
                                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                              </div>
                              <div class="item-description">
                                {{#if item.data.tags}}{{{pbtaTags item.data.tags}}}{{/if}}
                                <div class="description">{{{enrichText item.data.description rollData}}}</div>
                              </div>
                          </li>
                        {{/each}}
                      </ol>
                    </div>
                  {{/each}}
                {{!-- </div> --}}
              </div>

          </section>
        </section>
      </section>


  </div>
</form>
