<form autocomplete="off" onsubmit="event.preventDefault();" class="pbta-sheet-config-form">

  <h2 class="cell__title">{{{localize 'PBTA.Settings.sheetConfig.notes1'}}}</h2>
  <p class="sheet-config-notes">{{{localize 'PBTA.Settings.sheetConfig.notes2'}}}</p>
  <p class="sheet-config-notes">{{{localize 'PBTA.Settings.sheetConfig.notes3'}}}</p>
  <p class="sheet-config-notes"><button type="button" class="button" style="max-width:250px;margin:5px auto 20px;display:block;" onclick="event.preventDefault();window.open('https://asacolips.gitbook.io/pbta-system/', 'pbtaHelp', 'width=1032,height=720');"><i class="fas fa-question-circle"></i> {{localize "PBTA.Settings.button.help"}}</button></p>

  <section class="pbta-sheet-config-editor">
    <textarea name="tomlString" class="pbta-sheet-config">
    {{~" "}}{{{tomlString}}}{{" "~}}
    </textarea>
  </section>

  <div class="form-group">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i> {{localize 'PERMISSION.Submit'}}
    </button>

    <button type="button" name="reset">
      <i class="fas fa-sync"></i> {{localize 'PERMISSION.Reset'}}
    </button>
  </div>
</form>
