<div class="cell cell--{{class}}">
  {{#each attrs as |attr key|}}
    <div class="cell cell--{{key}} cell--attr-{{key}} cell--{{attr.type}}">
      {{#if attr.customLabel}}
        <input type="text" class="input--cell-title" name="data.{{../group}}.{{key}}.userLabel" value="{{#if attr.userLabel}}{{attr.userLabel}}{{else}}{{attr.label}}{{/if}}">
      {{else}}
        <label for="data.{{../group}}.{{key}}.value" class="cell__title">{{attr.label}}</label>
      {{/if}}
      {{#if attr.description}}<p class="cell__description cell__description--attr">{{attr.description}}</p>{{/if}}
      {{!-- Text area --}}
      {{#if (eq attr.type "LongText")}}
        {{!-- <textarea class="textarea textarea--title" name="data.{{../group}}.{{key}}.value" rows="5">{{attr.value}}</textarea> --}}
        {{!-- <div style="display: block; height: 100%; min-height: 100px;"> --}}
          {{editor content=attr.value target=attr.attrName button=true owner=../owner editable=../editable}}
        {{!-- </div> --}}
      {{!-- Checkbox --}}
      {{else if (eq attr.type "Checkbox")}}
        {{#if attr.checkboxLabel}}<label>{{/if}}
        <input type="checkbox" name="data.{{../group}}.{{key}}.value" {{checked attr.value}}/>
        {{#if attr.checkboxLabel}}{{attr.checkboxLabel}}</label>{{/if}}
      {{!-- Number --}}
      {{else if (eq attr.type "Number")}}
        <input type="text" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
      {{!-- Resource with value/max --}}
      {{else if (eq attr.type "Resource")}}
        <div class="cell__counter">
          <input type="text" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.{{../group}}.{{key}}.max" value="{{attr.max}}" data-dtype="Number"/>
        </div>
      {{!-- TODO: Replace this with stylized checkboxes per xp pip. --}}
      {{else if (eq attr.type "Xp")}}
        <div class="cell__clock">
          {{#if attr.steps}}
            {{#each attr.steps as |step stepKey|}}
              <input type="radio" class="attr-xp" data-name="data.{{../../group}}.{{key}}" data-step="{{stepKey}}" {{checked step}}>
            {{/each}}
          {{/if}}
        </div>
      {{!-- TODO: Replace this with checkboxes per clock pip. --}}
      {{else if (eq attr.type "Clock")}}
        <div class="cell__clock">
          {{#if attr.steps}}
            {{#each attr.steps as |step stepKey|}}
              <input type="checkbox" class="attr-clock" data-name="data.{{../../group}}.{{key}}" data-step="{{stepKey}}" {{checked step}}>
            {{/each}}
          {{/if}}
        </div>
      {{else if (eq attr.type "ListMany") }}
        <ul class="cell__checkboxes flexcol">
          {{#each attr.options as |option optionKey|}}
            <label class="flexrow">
              {{#if option.values}}
                {{#each option.values as |suboption suboptionKey|}}
                  <input type="checkbox" class="attr-list" name="data.{{../../../group}}.{{key}}.options.{{optionKey}}.values.{{suboptionKey}}.value" {{checked suboption.value}}/>
                {{/each}}
              {{else}}
                <input type="checkbox" class="attr-list" name="data.{{../../group}}.{{key}}.options.{{optionKey}}.value" {{checked option.value}}/>
              {{/if}}
              {{#if (eq option.label "[Text]")}}
                <input type="text" class="input input-title" name="data.{{../../group}}.{{key}}.options.{{optionKey}}.userLabel" value="{{option.userLabel}}">
              {{else}}
                {{option.label}}
              {{/if}}
            </label>
          {{/each}}
        </ul>
      {{!-- TODO: Add ListOne type. --}}
      {{!-- {{else if (eq attr.type "ListOne") }}
        <ul class="cell__checkboxes flexcol">
          {{#each attr.options as |option optionKey|}}
            <label>
              <input type="radio" class="attr-list" data-name="data.{{../../group}}.{{key}}.value" value="{{optionKey}}" {{checked ../attr.value}}>
              {{option}}
            </label>
          {{/each}}
        </ul> --}}
      {{else if (eq attr.type "Roll")}}
        <div class="cell__roll">
          <span class="attr-icon attr-rollable rollable" data-roll="{{attr.value}}" data-label="{{attr.label}}"><i class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i></span>
          <input type="text" class="input input--roll" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}"/>
        </div>
      {{!-- Fallback to a text field. --}}
      {{else}}
        <input type="text" class="input input--title" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}"/>
      {{/if}}
    </div>
  {{/each}}
</div>