<h4 class="item-name">
  <div class="item-avatar">
    <span class="rollable move-rollable" data-roll="{{item.data.rollType}}" data-mod="{{item.data.rollMod}}">
      {{#if item.data.rollType}}
        <i class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i>
      {{else}}
        <i class="fas fa-book"></i>
      {{/if}}
    </span>
    <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27"/>
  </div>
  <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span>
</h4>
{{#if item.data.rollType}}
  <div class="item-meta tags">
    {{#if (eq item.data.rollType 'formula')}}
      <span class="tag">{{item.data.rollFormula}}</span>
    {{else}}
      <span class="tag">{{getLabel statSettings item.data.rollType}}</span>
    {{/if}}
  </div>
{{/if}}
<div class="item-controls">
  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
</div>
<div class="item-description">
  <div>{{{enrichText item.data.description rollData}}}</div>
  {{#if item.data.moveResults}}
    {{#each item.data.moveResults as |result key|}}
      {{#if result.value}}
        <div class="result result--{{key}}">
          <strong class="result-label">{{result.label}}</strong>
          <div class="result-content">{{{enrichText result.value rollData}}}</div>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
  {{#if item.data.choices}}
    <div class="result result--choices">
      <strong class="result-label">{{localize "PBTA.Choices"}}</strong>
      <div class="result-content">{{{enrichText item.data.choices rollData}}}</div>
    </div>
  {{/if}}
</div>