<div class="cell resource equipment-group" data-index="{{group}}">
  <div class="cell__title">
    <input type="text" name="data.equipment.{{group}}.label" placeholder="{{localize "PBTA.ClassEquipmentGroupPlaceholder"}}" value="">
    <select name="data.equipment.{{group}}.mode">
      <option value="radio">{{localize "PBTA.ChooseOne"}}</option>
      <option value="checkbox">{{localize "PBTA.ChooseAny"}}</option>
    </select>
    <div class="class-controls">
      <a class="class-control" data-action="delete" data-dtype="equipment-groups" data-index="{{group}}"><i class="fas fa-trash"></i></a>
    </div>
  </div>
  <div class="item-container drop-area" data-group="{{group}}">
    <span>{{localize "PBTA.ClassEquipmentDropText"}}</span>
  </div>
</div>