<form class="{{cssClass}} item-form flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <div class="cell--image">
          <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </div>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PBTA.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "PBTA.Common.Description" }}</a>
        <a class="item" data-tab="details">{{localize "PBTA.Common.Details" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
          <div class="resource">
            <label for="tag" class="control-label">{{localize "PBTA.Tags"}}</label>
            <div class="help-text"><p>{{localize "PBTA.TagsHelp" }}</p></div>
            <input type="hidden" name="data.tagsString" value="{{ data.tagsString }}" />
            <input name='data.tags' class='some_class_name' placeholder='write some tags' value='{{ data.tags }}'/>
          </div>
          <div class="resource">
            <label>{{localize "PBTA.Playbook"}}</label>
            <select name="data.playbook">
              {{#select data.playbook}}
                <option value="">—</option>
                {{#each data.playbooks as |playbook id|}}
                <option value="{{playbook}}">{{playbook}}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="resource">
            <label>{{localize "PBTA.Quantity"}}</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label>{{localize "PBTA.Uses"}}</label>
            <input type="text" name="data.uses" value="{{data.uses}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label>{{localize "PBTA.Weight"}}</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
          </div>
          {{#if data.equipmentTypes}}
            <div class="resource">
              <label>{{localize "PBTA.EquipmentType"}}</label>
              <select name="data.equipmentType" data-dtype="String">
                {{#select data.equipmentType}}
                <option value="">—</option>
                {{#each data.equipmentTypes as |equipment key|}}
                <option value="{{key}}">{{equipment.label}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          {{/if}}
        </div>
    </section>
</form>
